{% extends "footer.html" %}

{% block footer_links_ckan %}
  {% set api_url = 'https://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
  <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
{% endblock %}

{% block footer_attribution %}
  <strong>{{ _('Powered by') }}</strong>
  <div style="white-space:nowrap; padding-bottom:16px;">
    <a class="pull-left" target="_blank" href="https://opengov.com/?utm_campaign=Footer-Product-OpenData&utm_source=OpenGov&utm_medium=product&utm_term=PO-OGOV-1274&utm_content=logo">
      <img src="/img/OpenGov_Logo.png" alt="OpenGov" height="25">
    </a>
    <a class="hide-text ckan-footer-logo" href="https://ckan.org" style="margin-left:144px;">CKAN</a>
  </div>
{% endblock %}
