@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

a#what-works-cities-awards-logo {
  max-width: 180px;
  margin-left: 30px;
}
.homepage-intro,
.main-featured,
.main-browse,
.main-external-datasets,
.main-updates,
.terms-of-use {
  background: #d4d9de !important;
}
.homepage-intro {
  font-family: 'Droid Serif', sans-serif;
}
.homepage-intro h1 {
  font-style: italic;
  text-align: center;
}
.homepage-intro p {
  font-size: 18px;
}
.terms-of-use a {
  color: #d15336;
}
.main-featured {
  order: 1 !important;
}
.main-browse {
  order: 2 !important;
}
.main-external-datasets {
  order: 3 !important;
}
.main-updates {
  order: 4 !important;
}
.browse-group:hover,
.browse-group:focus {
  opacity: 0.5;
}
.main-browse a.browse-group[href="/group/external-datasets"] {
  display: none;
}
.main-featured .heading,
.main-browse .heading,
.main-external-datasets .heading,
.main-updates .heading {
  border-bottom: 2px solid #728294 !important;
}
.main-updates .dataset-item {
  background-color: #FFFFFF !important;
  margin-bottom: 0;
}
.footer-logo {
  padding: 0 15px;
}
.firstRowWrapper,
.secondRowWrapper {
  margin: 15px 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.firstRowWrapper li,
.secondRowWrapper li {
  float: left;
}
.firstRowWrapper li:not(:last-child),
.secondRowWrapper li:not(:last-child) {
  border-right: 1px solid white;
}
.firstRowWrapper li a,
.secondRowWrapper li a {
  display: block;
  font-family: 'open sans', sans-serif !important;
  outline-style: none;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
}
.firstRowWrapper li a:hover,
.firstRowWrapper li a:focus,
.secondRowWrapper li a:hover,
.secondRowWrapper li a:focus {
  color: #FFFFFF;
  background-color: #5383d3;
}
.desktop-only i.fa-map-marker,
.desktop-only i.fa-phone,
.desktop-only i.fa-envelope {
  background-color: #a71e5e;
  color: #ffffff;
  font-size: 24px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 10px 15px 20px;
  vertical-align: middle;
}
.desktop-only {
  display: block;
}
.mobile-callbtn {
  display: none;
}
.desktop-only p {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 10px 0;
  line-height: 18px;
}
.desktop-only p a {
  font-weight: bold;
  color: #86A8E0;
  text-decoration: none;
}
.desktop-only p a:hover {
  color: #f953a1;
}
.footer-about-header {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.footer-about-content {
  color: #b3b8bc;
}
.footer-about a:hover {
  color: rgb(83, 131, 211) !important;
}
.social-wrapper {
  margin: 10px 0 20px;
}
.social-wrapper a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #5c6367;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.social-wrapper svg {
  padding: 8px;
}
.twitter-icon,
.threads-icon {
  position: relative;
  top: 10px;
}
.social-icons:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.icon-city:hover,
.threads-icon:hover {
  background-color: #a71e5e !important;
}
.facebook-icon:hover {
  background-color: #3B5998 !important;
}
.twitter-icon:hover {
  background-color: #00aced !important;
}
.youtube-icon:hover {
  background-color: #e62117 !important;
}
.instagram-icon:hover {
  background-color: #8139aa !important;
}
@media screen and (max-width: 880px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-callbtn {
    display: block;
  }
  .mobile-callbtn a {
    display: block;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    color: #FFF !important;
    background: #dd287d;
    letter-spacing: 0.14px;
    background-image: -webkit-linear-gradient(top, #dd287d, #9c1b57);
    background-image: -moz-linear-gradient(top, #dd287d, #9c1b57);
    background-image: -ms-linear-gradient(top, #dd287d, #9c1b57);
    background-image: -o-linear-gradient(top, #dd287d, #9c1b57);
    background-image: linear-gradient(to bottom, #dd287d, #9c1b57);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    text-shadow: 0px 1px 3px #666666;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 7px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.36);
    border: 1px solid #dd3d88;
    border-bottom: none;
  }
}