{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% if h.version(h.ckan_version()) < h.version('2.9') %}
    {% set custom_header_action = h.url_for(
       controller='ckanext.opendata_theme.opengov_custom_header.controller:CustomHeaderController',
       action='custom_header') %}

    {% set reset_custom_header = h.url_for(
       controller='ckanext.opendata_theme.opengov_custom_header.controller:CustomHeaderController',
       action='reset_custom_header') %}
{% else %}
    {% set custom_header_action = h.url_for('/ckan-admin/custom_header') %}
    {% set reset_custom_header = h.url_for('/ckan-admin/reset_custom_header') %}
{% endif %}


{% block primary_content_inner %}
    {{ form.errors(errors) }}
    <h1 class="page-heading">Manage Header</h1>
    <form method="post" action="{{ custom_header_action }}" id="custom-header-form">
        <div class="form-group control-group control-medium">
            <label for="header-layout" class="control-label">{{ _('Header Layout') }}</label>
            <div class="controls">
                <select id="header-layout" class="form-control" name="layout_type">
                    <option value="default" {% if layout_type == 'default' or not layout_type %}selected="selected"{% endif %}>Default</option>
                    <option value="compressed" {% if layout_type == 'compressed' %}selected="selected"{% endif %}>Compressed</option>
                </select>
            </div>
        </div>
        <hr>
        <h4>Current Navigation Links</h4>
        {% if not links %}
            <p>No navigation links currently set.</p>
        {% endif %}
        {% for link in links %}
            <div class="form-group control-group">
                <div class="row" id="{{ 'link-%d' % loop.index0 }}">
                    <div class="col-md-1 span1" style="width:75px;">
                        <div class="input-group">
                        <input type="text" class="form-control" name="position" value="{{ link.position }}"/>
                        </div>
                    </div>
                    <div class="col-md-5 span5">
                        <div class="input-group">
                        <label class="input-group-addon" for="{{ 'title-%d' % loop.index0 }}">Title</label>
                        <input type="text" class="form-control" id="{{ 'title-%d' % loop.index0 }}" name="title" value="{{ link.title }}"/>
                        </div>
                    </div>
                    <div class="col-md-5 span5">
                        <div class="input-group">
                        <label class="input-group-addon" for="{{ 'url-%d' % loop.index0 }}">URL</label>
                        <input type="text" class="form-control" id="{{ 'url-%d' % loop.index0 }}" name="url" value="{{ link.url }}"/>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </form>
    <hr>
    <form method="post" action="{{ custom_header_action }}">
        <h4>Add Navigation Link</h4>
        <div class="form-group control-group control-custom">
            <div class="controls editor">
                <div class="row">
                    <div class="col-sm-5 span5">
                        <div class="input-group">
                            <label class="input-group-addon" for="new_title">Title</label>
                            <input class="form-control" type="text" id="new_title" name="new_title" value="{{ new_title }}"/>
                        </div>
                    </div>
                    <div class="col-sm-5 span5">
                        <div class="input-group">
                            <label class="input-group-addon" for="new_url">URL</label>
                            <input class="form-control" type="text" id="new_url" name="new_url" value="{{ new_url }}"/>
                        </div>
                    </div>
                    <button class="btn btn-default" name="add_link" type="submit">{{ _('Add') }}</button>
                </div>
            </div>
        </div>
    </form>
    <hr>
    {% if links %}
        <form method="post" action="{{ custom_header_action }}">
            <h4>Remove Navigation Link</h4>
            <div class="form-group control-group control-custom">
                <div class="controls editor">
                    <div class="row">
                        <div class="col-sm-5 span5">
                            <div class="input-group">
                                <label class="input-group-addon" for="remove_title">Title (URL)</label>
                                <select class="form-control" name="remove_title">
                                    {% for link in links %}
                                        <option value="{{ link.title }}">{{ link.title }} ( {{ link.url }} )</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-default" name="remove_link" type="submit">{{ _('Remove') }}</button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
    {% endif %}
    <div class="form-actions">
        <button class="btn btn-primary pull-right" name="save" type="submit" form="custom-header-form">{{ _('Update Config') }}</button>
        <a class="btn btn-danger pull-left" data-module="confirm-action"
           data-module-content="Do you really want to reset the custom header? All your changes will be lost."
           href="{{ reset_custom_header }}">{{ _('Reset to Default') }}
        </a>
    </div>
{% endblock %}

{% block secondary_content %}
    <div class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="fa fa-info-circle"></i>
            {{ _('Header Config Options') }}
        </h2>
        <div class="module-content">
            {% block admin_form_help %}
                <p><strong>Header Layout:</strong> Select from layouts: <i>Default</i> or <i>Compressed</i>.</p>
                <p><i>Default:</i> The user account links appear in a section above the navigation links.</p>
                <p><i>Compressed:</i> The user account links appear to the right of the navigation links and the mini search bar is hidden.</p>
                <hr>
                <p><strong>Current Navigation Links:</strong> List of links that appear in the navigation section of the header.</p>
                <p><strong>Add Navigation Link:</strong> Add new link to navigation section.</p>
                <p><strong>Remove Navigation Link:</strong> Remove a link from the navigation section.</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}
