body {
  font-size: 16px !important;
}
.masthead .logo img {
  max-height: 70px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.masthead .nav > li > a {
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: none !important;
}
header.navbar.masthead {
  border-bottom: 3px solid #efaa29;
}
.tint {
  background-color: rgba(31, 84, 155, 0.7) !important;
}
.search-doc {
  text-align: right;
}
#dataset-search-form.search-form {
  border-bottom: 1px dotted #dddddd !important;
}
#organization-search-form {
  padding-bottom: 40px;
}
.dataset-item {
  border-bottom: 1px dotted #dddddd !important;
  min-height: 90px;
}
.dataset-item:last-of-type {
  border-bottom: none !important;
}
.dataset-list-left-icon {
  max-width: 70px;
  max-height: 70px;
  float: left;
  margin-right: 15px;
  margin-bottom: 30px;
}
.dataset-heading {
  font-size: 20px;
}
.dataset-heading a {
  color: #165cab !important;
  font-size: 20px;
  font-weight: 400;
}
.primary.dataset-read .resource-view {
  border-top: none;
}
.main-responsive-panel.span9 article.module {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.resources h2, .additional-info h3 {
  border-bottom: 3px solid #165cab;
  margin: 20px 0;
}
.dataset-read .tags {
  margin: 30px 0;
}
@media (max-width: 767px) {
  .dataset-list-left-icon {
    display: none;
  }
}
@media (min-width: 768px) {
  .dataset-title {
    font-size: 40px;
  }
  .notes.embedded-content {
    margin-bottom: 40px;
  }
  .dataset-read .page-header {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
  }
}