{% ckan_extends %}

{% block footer_content %}
  <div class="row">
    <div class="col-md-5 span5 footer-links">
      {% block footer_logo %}
        <div class="footer-logo">
          <a href="https://www.phoenix.gov" target="_blank">
            <img src="/img/logo-cop-1.png" title="City of Phoenix Home Page" style="width: 234px; height: 56px;" alt="City of Phoenix logo">
          </a>
        </div>
      {% endblock %}
      {{ h.opendata_theme_get_footer_data('content_0') }}
    </div>
    <div class="col-md-4 span4 footer-links">
      {{ h.opendata_theme_get_footer_data('content_1') }}
    </div>
    <div class="col-md-3 span3 footer-links">
      {{ h.opendata_theme_get_footer_data('content_2') }}
    <div class="attribution og-attribution">
      {% block footer_attribution %}
        {{ super() }}
      {% endblock %}
      {% block footer_lang %}
        {{ super() }}
      {% endblock %}
    </div>
  </div>
{% endblock %}