{% ckan_extends %}

{% set org_alias = h.opendata_theme_organization_alias() %}
{% set group_alias = h.opendata_theme_group_alias() %}
{% set org_alias_pural = org_alias + 's' %}
{% set group_alias_pural = group_alias + 's' %}

  {% block search_facets %}
    {% if facets %}
      <p class="filter-list">
        {% for field in facets.fields %}
          {% set search_facets_items = facets.search.get(field)['items'] if facets.search and field in facets.search else [] %}

          {% set facet_title = facets.titles.get(field) %}
          {% if facet_title=="Organizations" %}
            {% set facet_title = org_alias_pural %}
          {% elif facet_title=="Groups" %}
            {% set facet_title = group_alias_pural %}
          {% endif %}

          <span class="facet">{{ facet_title }}:</span>
          {% for value in facets.fields[field] %}
            <span class="filtered pill">
              {%- if facets.translated_fields and (field,value) in facets.translated_fields -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
              {%- endif %}
              <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
          {% endfor %}
        {% endfor %}
      </p>     
      <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
    {% endif %}
  {% endblock %}
