{% ckan_extends %}

{% set org_alias = h.opendata_theme_organization_alias() %}
{% set org_alias_pural = org_alias + 's' %}

{% if h.version(h.ckan_version()) >= h.version('2.9') %}
  {% set organization_index_route = group_type+'.index' %}
{% else %}
  {% set organization_index_route = 'organizations_index' %}
{% endif %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('{Organizations}'.format(Organizations=org_alias_pural)), named_route=organization_index_route %}</li>
{% endblock %}

{% block page_heading %}{{ _('{Organization} Form'.format(Organization=org_alias)) }}{% endblock %}