{% ckan_extends %}

{% set org_alias = h.opendata_theme_organization_alias() %}

{% if h.version(h.ckan_version()) >= h.version('2.9') %}
  {% set organization_delete_action = {{ url_for group_type+'.delete', id=group_dict.name }} %}
{% else %}
  {% set group_dict = c.group_dict %}
  {% set organization_delete_action = {{ url_for controller='organization', action='delete', id=group_dict.name }} %}
{% endif %}

      {% block form %}
        <p>{{ _('Are you sure you want to delete {organization} - {name}?').format(organization=org_alias, name=group_dict.name) }}</p>
        <p class="form-actions">
          <form id="organization-confirm-delete-form" action="{{ organization_delete_action }}" method="post">
            <button class="btn btn-danger" type="submit" name="cancel" >{{ _('Cancel') }}</button>
            <button class="btn btn-primary" type="submit" name="delete" >{{ _('Confirm Delete') }}</button>
          </form>
        </p>
      {% endblock %}
