{% ckan_extends %}

{% set org_alias = h.opendata_theme_organization_alias() %}
{% set org_alias_pural = org_alias + 's' %}

{% if h.version(h.ckan_version()) >= h.version('2.9') %}
  {% set organization_index_route = group_type+'.index' %}
  {% set organization_read_route = group_type+'.read' %}
{% else %}
  {% set organization_index_route = 'organizations_index' %}
  {% set organization_read_route = 'organization_read' %}
  {% set group_dict = c.group_dict %}
{% endif %}

{%- block head_extras %}
  {{ super() }}
  {% set description = h.markdown_extract(group_dict.description, extract_length=200) or ('{Organization} from {ckan_site}'.format(Organization=org_alias, ckan_site=g.site_title)) %}
  <meta property="og:title" content="{{ group_dict.display_name }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
  <meta property="og:url" content="{{ h.full_current_url() }}">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ group_dict.display_name }}" />
  <meta name="twitter:description" content="{{ description|forceescape|trim }}" />
  {% if group_dict.image_display_url %}
    <meta property="og:image" content="{{ group_dict.image_display_url }}" />
  {% endif %}
{% endblock -%}

{% block subtitle %}{{ group_dict.display_name }} - {{ _('{Organizations}'.format(Organizations=org_alias_pural)) }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('{Organizations}'.format(Organizations=org_alias_pural)), named_route=organization_index_route %}</li>
  <li class="active">{% link_for group_dict.display_name|truncate(35), named_route=organization_read_route, id=group_dict.name %}</li>
{% endblock %}
