{% ckan_extends %}

{% block header_logo %}
  {% if g.site_logo %}
    <a class="logo" href="http://city.milwaukee.gov/home" target="_blank"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="City of Milwaukee" title="City of Milwaukee" /></a>
    <div class="name-tag">
      <h1>Milwaukee, Wisconsin</h1>
      <p>City of Milwaukee Open Data</p>
    </div>
  {% else %}
    <h1>
      <a href="{{ h.url('home') }}">{{ g.site_title }}</a>
    </h1>
    {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
  {% endif %}
{% endblock %}
