{% ckan_extends %}

{%- block page -%}
  {{ super() }}
  <div class="sub-footer">
    <div class="UtilityLinks">
      <ul class="list-unstyled">
        <li><a href="https://milwaukee.gov/Information-and-Services/webpolicies" linktype="2" target="_blank">Web &amp; Email Policies</a></li>
        <li><a href="https://milwaukee.gov/Web-Accessibility" linktype="2" target="_self">Web Accessibility Policy &amp; Information</a></li>
        <li><a href="mailto:UCCWebHelp@milwaukee.gov?subject=City%20of%20Milwaukee%20Website%20Inquiry" linktype="5" target="_self">Web Contact Us</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
