{% set title = g.site_title %}
{% set intro = g.site_intro_text %}
{% set story_banner = h.opendata_theme_get_story_banner() %}
{% set showcase_stories = h.opendata_theme_get_showcases_story(story=True) %}
{% set showcase_non_stories = h.opendata_theme_get_showcases_story(story=False) %}

<div role="main" style="padding:0">
  <div class="main-homepage">
    <div class="container">
      <div class="row">
        <div class="col-md-12 span12 col1">
          <div class="intro-block">
            <div class="module-content box">
              <h1 class="hero-text-heading"><img src="/img/TheVaultLogo_white-orange.png" alt="The Vault Logo"/></h1>
              <hr/>
              <div class="hero-text-description">
                {{ h.render_markdown(g.site_intro_text) }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if story_banner %}
        <div class="row">
          <div class="col-md-12 span12 col1">
            <div class="module-content story-banner">
              {% if story_banner.url %}
                <a href="{{ story_banner.url }}" class="browse-group">
              {% else %}
                <a href="/showcase/{{ story_banner.name }}" class="browse-group">
              {% endif %}
                {% set image_url = h.opendata_theme_get_value_from_extras(story_banner.extras, 'image_url') %}
                {% if image_url and not image_url.startswith('http') %}
                  <img src="/uploads/showcase/{{ image_url }}" alt="">
                {% else %}
                  <img src="{{ image_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="">
                {% endif %}
                <h3 class="browse-group-title">{{ story_banner.title }}</h3>
              </a>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12 span12 col1">
          <div class="module-content story-tiles">
            {% for showcase in showcase_stories %}
              {% if showcase.url %}
                <a href="{{ showcase.url }}" class="browse-group">
              {% else %}
                <a href="/showcase/{{ showcase.name }}" class="browse-group">
              {% endif %}
                {% set image_url = h.opendata_theme_get_value_from_extras(showcase.extras, 'image_url') %}
                {% if image_url and not image_url.startswith('http') %}
                  <img src="/uploads/showcase/{{ image_url }}" alt="">
                {% else %}
                  <img src="{{ image_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="">
                {% endif %}
                <h3 class="browse-group-title">{{ showcase.title }}</h3>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 span12 col1 ">
          <div class="module-content showcase-list">
            <h2 class="heading">
              <a href="/showcase">Showcases</a>
            </h2>
            <hr>
            <p class="showcase-subtitle">I want to view...</p>
            {% snippet 'home/snippets/showcase_list.html', showcases=showcase_non_stories %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 span12 col1">
          <div class="vault-block">
            <div class="module-content box">
              <h3>USING DATA FROM THE VAULT</h3>
              <p>The Illinois State Treasurer’s Office makes available a wide array of data through this site. In addition to the policies contained in the <a href="http://www.illinoistreasurer.gov/Privacy_Policy" target="_blank" class="vault-link">Privacy Policy</a>, by accessing any material on this site, users agree to the <a href="/pages/terms-of-use" target="_blank" class="vault-link">Terms of Use</a>. Please read and understand these terms before using any data. Should you have any questions, please <a href="http://www.illinoistreasurer.gov/Office_of_the_Treasurer/Contact_Us" target="_blank" class="vault-link">contact us</a>. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
