{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block admin_form %}

    {{ form.input('ckan.site_title', id='field-ckan-site-title', label=_('Site Title'), value=data['ckan.site_title'], error=error, classes=['control-medium']) }}

    {{ form.input('ckan.site_description', id='field-ckan-site-description', label=_('Site Tag Line'), value=data['ckan.site_description'], error=error, classes=['control-medium']) }}

    {% set field_url = 'ckan.site_logo' %}
    {% set is_upload = data[field_url] and not data[field_url].startswith('http') %}
    {% set is_url = data[field_url] and data[field_url].startswith('http') %}
    {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label = _('Site logo'), url_label=_('Site logo'),  field_url=field_url, field_upload='logo_upload', field_clear='clear_logo_upload' )}}

    {{ form.markdown('ckan.site_about', id='field-ckan-site-about', label=_('About'), value=data['ckan.site_about'], error=error, placeholder=_('About page text')) }}

    {{ form.markdown('ckan.site_intro_text', id='field-ckan-site-intro-text', label=_('Intro Text'), value=data['ckan.site_intro_text'], error=error, placeholder=_('Text on home page')) }}

    {% if 'contact' in g.plugins %}
        {{ form.markdown('contact_form_legend_content', id='field-contact-form-legend-content', label=_('Contact Form Text'), value=data['contact_form_legend_content'], error=errors['contact_form_legend_content']) }}
    {% endif %}

{% endblock %}

{% block admin_form_help %}
    {% set about_url = h.url_for(controller='home', action='about') %}
    {% set home_url = h.url_for(controller='home', action='index') %}
    {% set docs_url = "http://docs.ckan.org/en/{0}/theming".format(g.ckan_doc_version) %}
    {% trans %}
        <p><strong>Site Title:</strong> This is the title of this site,
            which appears in various places throughout the site.</p>
        <p><strong>Site Tag Line:</strong> This is the text that appears in the header
            below the site title if no logo is present.</p>
        <p><strong>Site Tag Logo:</strong> This is the logo that appears in the header.
            If this field is empty, the site title and tag line will appear instead.</p>
        <p><strong>About:</strong> This text will appear on this site's
            <a href="{{ about_url }}">about page</a>.</p>
        <p><strong>Intro Text:</strong> This text will appear on this site's
            <a href="{{ home_url }}">home page</a> as a welcome message to visitors.</p>
    {% endtrans %}
    {% if 'contact' in g.plugins %}
        <p><strong>Contact Form Text:</strong> This text will appear on this site's
            <a href="/contact">contact page</a>.</p>
    {% endif %}
{% endblock %}
