{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% set ckan_29_or_higher = h.version(h.ckan_version()) >= h.version('2.9') %}
{% block styles %}
    {{ super() }}
    {% set snippet_type = 'asset' if ckan_29_or_higher else 'resource'  %}
    {% snippet 'snippets/opendata_custom_footer_' ~ snippet_type ~ '.html' %}
{% endblock %}

{% if ckan_29_or_higher %}
    {% set custom_footer_action = h.url_for('/ckan-admin/custom_footer') %}
    {% set reset_custom_footer = h.url_for('/ckan-admin/reset_custom_footer') %}
{% else %}
    {% set custom_footer_action = h.url_for(
    controller='ckanext.opendata_theme.opengov_custom_footer.controller:CustomFooterController',
    action='custom_footer') %}

    {% set reset_custom_footer = h.url_for(
    controller='ckanext.opendata_theme.opengov_custom_footer.controller:CustomFooterController',
    action='reset_custom_footer') %}
{% endif %}

{% block scripts %}
    {{ super() }}
    {% if ckan_29_or_higher %}
        <script src="/vendor/ckeditor/ckeditor.js"></script>
    {% endif %}
{% endblock %}

{% block primary_content_inner %}
    {{ form.errors(errors) }}
    <h1 class="page-heading">Manage Footer</h1>
    <form method="post" action="{{ custom_footer_action }}" id="custom-footer-form">
        <div class="form-group control-group control-medium">
            <label for="footer-layout" class="control-label">{{ _('Footer Layout') }}</label>
            <div class="controls">
                <select id="footer-layout" class="form-control" name="layout_type">
                    <option value="default" {% if data.layout_type == 'default' or not layout_type %}selected="selected"{% endif %}>Default</option>
                    <option value="custom" {% if data.layout_type == 'custom' %}selected="selected"{% endif %}>Custom</option>
                </select>
            </div>
        </div>
        {% for index in range(2) %}
            <div class="control-group form-group">
                <label for="field-content-ck-{{ index }}" class="control-label">{{ _('Column') }} {{index + 1}}</label>
                <textarea id="field-content-ck-{{ index }}"
                          class="control-medium"
                          name="content_{{ index }}"
                          placeholder="{{_('My HTML content')}}"
                          data-module="ckedit"
                          data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=True)) }}">{{ data['content_{}'.format(index)] }}</textarea>
            </div>
        {% endfor %}
        <div class="form-actions">
            <button class="btn btn-primary pull-right" name="save" type="submit">{{ _('Update') }}</button>
            <a class="btn btn-danger pull-left" data-module="confirm-action"
               data-module-content="Do you really want to reset the custom footer? All your changes will be lost."
               href="{{ reset_custom_footer }}">{{ _('Reset to Default') }}
            </a>
        </div>
    </form>

{% endblock %}

{% block secondary_content %}
    <div class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="fa fa-info-circle"></i>
            {{ _('Footer Config Options') }}
        </h2>
        <div class="module-content">
            {% block admin_form_help %}
                <p><strong>Footer Layout:</strong> Select from layouts: <i>Default</i> or <i>Custom</i>.
                    With the <i>Custom</i> layout content appears in two columns in the footer.</p>
                <p><i>Column 1:</i> Add content that appears on the left side of the footer.</p>
                <p><i>Column 2:</i> Add content that appears in the middle of the footer.</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}
