{% ckan_extends %}

{% block footer_content %}
  <div class="row">
    {% for index in range(2) %}
      <div class="col-md-3 span3 footer-links">
        {{ h.opendata_theme_get_footer_data('content_{}'.format(index)) }}
      </div>
    {% endfor %}
    <div class="col-md-4 span4 footer-links">
      <form id = "foot-letter" action="https://contactform.boston.gov/subscriptions?list=101" method="POST" class="bos-newsletter" novalidate="" target="_blank">
        <div class="fs">
          <div class="fs-c">
            <div class="txt">
              <p id = "newsletter">SIGN UP FOR OUR NEWSLETTER! </p>
              <input name="subscriber[email]" type="email" value="" placeholder="Email address" class="txt-f bos-newsletter-email" id="signupEmail">
            </div>
            <div class="txt">
              <input name="subscriber[zipcode]" type="text" value="" placeholder="Zip Code" class="txt-f bos-newsletter-zip" size="10" id="signupZip">
            </div>
          </div>
          <p class="t--subinfo t--err m-t100"></p>
          <div class="bc bc--r">
            <button type="submit" class="btn btn-primary btn-small">Sign Up</button>
          </div>
        </div>
      </form>
      <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script type="text/javascript"> 
        function formValidate(){
          var checkEmailFormat = /^[A-Z0-9_'%=+!`#~$*?^{}&|-]+([\.][A-Z0-9_'%=+!`#~$*?^{}&|-]+)*@[A-Z0-9-]+(\.[A-Z0-9-]+)+$/i;
          var checkZipFormat = /^\d{5,5}$/;
          if ($("#signupEmail").val() == '' && $("#signupZip").val() == '' ) {
              $('.t--subinfo.t--err').html('Email and Zip Code are blank.');
          }
          else if (!checkEmailFormat.test($("#signupEmail").val()) ) {
              $('.t--subinfo.t--err').html('Email value is invalid.');
          }
          else if (!checkZipFormat.test($("#signupZip").val()) ) {
              $('.t--subinfo.t--err').html('Zip Code value is invalid.');
          }
          else{
            formSubmit();
          }
        }
        function formSubmit(){
          const form = $("#foot-letter");
          const url = form.attr('action');
          $.ajax({
              type: "POST",
              url: url,
              crossDomain: true,
              data: form.serialize(), // serializes the form's elements.
          })
          .done(function(res){
                const successMessage = "<div class='t--info'>Great. You'll get your first email soon.</div>" 
                $('#foot-letter').html(successMessage);
          })
          .fail(function(res){
                $('.t--subinfo.t--err').html('There was an error. Please try again.');
          });
        }         
        $("#foot-letter").submit(function(e) {
          e.preventDefault(); // avoid to execute the actual submit of the form.
          formValidate();
        });     
      </script>
    </div>
    <div class="attribution og-attribution">
      {% block footer_attribution %}
        <strong>{{ _('Powered by') }}</strong>
        <div class="og-links">
          <a class="pull-left" href="https://opengov.com/?utm_campaign=Footer-Product-OpenData&utm_source=OpenGov&utm_medium=product&utm_term=PO-OGOV-1274&utm_content=logo" target="_blank">
            <img src="/img/OpenGov_Logo.png" alt="OpenGov" height="25">
          </a>
          <a class="hide-text ckan-footer-logo pull-right" href="https://ckan.org" target="_blank">CKAN</a>
        </div>
      {% endblock %}
      {% block footer_lang %}
        {% snippet "snippets/language_selector.html" %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
