{% ckan_extends %}

{% set org_alias = h.opendata_theme_organization_alias() %}
{% set group_alias = h.opendata_theme_group_alias() %}
{% set org_alias_pural = org_alias + 's' %}
{% set group_alias_pural = group_alias + 's' %}

{% if h.version(h.ckan_version()) >= h.version('2.9') %}
  {% set search_route = 'dataset.search' %}
  {% set organizations_index_route = 'organization.index' %}
  {% set group_index_route = 'group.index' %}
  {% set about_index_route = 'home.about' %}
{% else %}
  {% set search_route = 'search' %}
  {% set organizations_index_route = 'organization_index' %}
  {% set group_index_route = 'group_index' %}
  {% set about_index_route = 'about' %}
{% endif %}

{% block header_wrapper %}
<header class="navbar navbar-static-top masthead compressed">
  {% block header_debug %}
    {{ super() }}
  {% endblock %}
  <div class="container">
    {# The .header-image class hides the main text and uses image replacement for the title #}
    <label tabindex="0" for="hb__trigger" class="nav-trigger" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
        <div class="hb">
            <span class="hb__box">
                <span class="hb__inner"></span>
            </span>
            <span class="hb__label">Menu</span>
        </div>
    </label>
    <div class="{{ g.header_class }} navbar-left">
      {% block header_logo %}
        {{ super() }}
      {% endblock %}
    </div>
    <a href="https://www.boston.gov/" title="boston-site" rel="boston-site" target="_blank" class="s">
      <img src="/img/Digital_City_Seal.svg" alt="City of Boston Seal" class="s-i" data-pin-nopin="true">
    </a>
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-label="expand or collapse" aria-expanded="false">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_account %}
        <div class="account-masthead">
          {% block header_account_container_content %}
            {% if c.userobj %}
              <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
                <ul class="list-unstyled unstyled">
                  {% block header_account_logged %}
                    {% if c.userobj.sysadmin %}
                      <li>
                        <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                          <i class="fa fa-gavel" aria-hidden="true"></i>
                          <span class="text">{{ _('Admin') }}</span>
                        </a>
                      </li>
                    {% endif %}
                    <li>
                      <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                              {{ h.user_image((c.user if c and c.user else ''), size=22) }}
                              <span class="username">{{ h.opendata_theme_abbreviate_name(c.userobj.display_name) }}</span>
                      </a>
                    </li>
                    {% set new_activities = h.new_activities() %}
                    <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                      {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
                      %}
                      <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span class="text">{{ _('Dashboard') }}</span>
                        <span class="badge">{{ new_activities }}</span>
                      </a>
                    </li>
                    {% block header_account_settings_link %}
                      {{ super() }}
                    {% endblock %}
                    {% block header_account_log_out_link %}
                      {{ super() }}
                    {% endblock %}
                  {% endblock %}
                </ul>
              </div>
            {% else %}
              <nav class="account not-authed" aria-label="{{ _('Account') }}">
                <ul class="list-unstyled unstyled">
                  {% block header_account_notlogged %}
                    <li>{% link_for _('Log in'), named_route='user.login' %}</li>
                    {% if h.check_access('user_create') %}
                      <li>{% link_for _('Sign up'), named_route='user.register', class_='sub' %}</li>
                    {% endif %}
                  {% endblock %}
                </ul>
              </nav>
            {% endif %}
          {% endblock %}
        </div>
      {% endblock %}
      {% block header_site_navigation %}
        <nav class="section navigation">
          <ul class="nav nav-pills">
            {% block header_site_navigation_tabs %}
              {{ h.build_nav_main(
                ('search', _('Datasets')),
              ) }}
              <li>
                <a href="https://www.boston.gov/news" title="news" target="_blank">News</a>
              </li>
              <li>
                <a href="/pages/ckan-training-videos">Tips</a>
              </li>
            {% endblock %}
          </ul>
        </nav>
      {% endblock %}
    </div>
  </div>
</header>
{% endblock %}