{% ckan_extends %}

{% set group_alias = h.opendata_theme_group_alias() %}

{% block page_primary_action %}
  {% if h.check_access('group_create') %}
    {% if h.version(h.ckan_version()) >= h.version('2.9') %}
      {% link_for _('Add {Group}'.format(Group=group_alias)), named_route='group.new', class_='btn btn-primary', icon='plus-square' %}
    {% else %}
      {% link_for _('Add {Group}'.format(Group=group_alias)), controller='group', action='new', class_='btn btn-primary', icon='plus-square' %}
    {% endif %}
  {% endif %}
{% endblock %}
