{% ckan_extends %}

{% set org_alias = h.opendata_theme_organization_alias() %}
{% set group_alias = h.opendata_theme_group_alias() %}
{% set org_alias_pural = org_alias + 's' %}
{% set group_alias_pural = group_alias + 's' %}

{% if h.version(h.ckan_version()) >= h.version('2.9') %}
  {% set user_edit_route = 'user.edit' %}
  {% set dashboard_index_route = 'dashboard.index' %}
  {% set dashboard_datasets_route = 'dashboard.datasets' %}
  {% set dashboard_organizations_route = 'dashboard.organizations' %}
  {% set dashboard_groups_route = 'dashboard.groups' %}
{% else %}
  {% set user_edit_route = 'user_edit' %}
  {% set dashboard_index_route = 'user_dashboard' %}
  {% set dashboard_datasets_route = 'user_dashboard_datasets' %}
  {% set dashboard_organizations_route = 'user_dashboard_organizations' %}
  {% set dashboard_groups_route = 'user_dashboard_groups' %}
{% endif %}

{% block page_header %}
    <header class="module-content page-header hug">
      <div class="content_action">
        {% link_for _('Profile settings'), named_route=user_edit_route, id=user.name, class_='btn btn-default', icon='cog' %}
      </div>
      <ul class="nav nav-tabs">
        {{ h.build_nav_icon(dashboard_index_route, _('News feed')) }}
        {{ h.build_nav_icon(dashboard_datasets_route, _('My Datasets')) }}
        {{ h.build_nav_icon(dashboard_organizations_route, _('My {Organizations}'.format(Organizations=org_alias_pural))) }}
        {{ h.build_nav_icon(dashboard_groups_route, _('My {Groups}'.format(Groups=group_alias_pural))) }}
      </ul>
     </header>
{% endblock %}
