{% set org_alias = h.opendata_theme_organization_alias() %}
{% set org_alias_pural = org_alias + 's' %}

<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-lg fa fa-info-circle"></i>
    {{ _("What are {Organizations}?".format(Organizations=org_alias_pural)) }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        {{org_alias_pural}} are used to create, manage and publish collections
        of datasets. Users can have different roles within an {{org_alias}},
        depending on their level of authorisation to create, edit and publish.
      {% endtrans %}
    </p>
  </div>
</div>
