{% ckan_extends %}
{% set org_alias = h.opendata_theme_organization_alias() %}

{% if h.version(h.ckan_version()) >= h.version('2.9') %}
  {% set organization_delete_url = url_for('organization.delete', id=data.id) %}
  {% set content = _('Are you sure you want to delete this {Organization}? Note*: Deleting cannot be performed while public or private datasets belong to this {Organization}.'.format(Organization=org_alias)) %}
{% else %}
  {% set organization_delete_url = url_for(controller='organization', action='delete', id=data.id) %}
  {% set content = _('Are you sure you want to delete this {Organization}? This will delete all the public and private datasets belonging to this {Organization}.'.format(Organization=org_alias)) %}
{% endif %}

{% block delete_button %}
    {% if h.check_access('organization_delete', {'id': data.id})  %}
      <a class="btn btn-danger pull-left" href="{{ organization_delete_url }}" data-module="confirm-action" data-module-content="{{ content }}">
      {% block delete_button_text %}{{ _('Delete') }}{% endblock %}
      </a>
    {% endif %}
{% endblock %}
