{% ckan_extends %}

{% set group_alias = h.opendata_theme_group_alias() %}
{% set group_alias_pural = group_alias + 's' %}

{% if h.version(h.ckan_version()) >= h.version('2.9') %}
  {% set group_index_route = group_type+'.index' %}
{% else %}
  {% set group_index_route = 'group_index' %}
{% endif %}

{% block breadcrumb_content %}
  <li>{% link_for _('{Groups}'.format(Groups=group_alias_pural)), named_route=group_index_route %}</li>
  {% block breadcrumb_content_inner %}
    {{ super() }}
  {% endblock %}
{% endblock %}

{% block page_heading %}{{ _('Edit {Group}'.format(Group=group_alias)) }}{% endblock %}
