{% ckan_extends %}

{% set group_alias = h.opendata_theme_group_alias() %}
{% set group_alias_pural = group_alias + 's' %}

{% if h.version(h.ckan_version()) >= h.version('2.9') %}
  {% set group_index_route = group_type+'.index' %}
  {% set group_new_route = group_type+'.new' %}
{% else %}
  {% set group_index_route = 'group_index' %}
  {% set group_new_route = 'group_new' %}
  {% set q = c.q %}
  {% set sort_by_selected = c.sort_by_selected %}
  {% set page = c.page %}
{% endif %}

{% block subtitle %}{{ _('{Groups}'.format(Groups=group_alias_pural)) }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('{Groups}'.format(Groups=group_alias_pural)), named_route=group_index_route %}</li>
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('group_create') %}
    {% link_for _('Add {Group}'.format(Group=group_alias)), named_route=group_new_route, class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
{% endblock %}

{% block primary %}
  <div class="primary col-sm-12 col-xs-12" role="main">
    {% block primary_content %}
      {{ super() }}
    {% endblock %}
  </div>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{{ _('{Groups}'.format(Groups=group_alias_pural)) }}</h1>
  {% block groups_search_form %}
    {% snippet 'snippets/search_form.html', form_id='group-search-form', type='group', query=q, sorting_selected=sort_by_selected, count=page.item_count, placeholder=_('Search {groups}...'.format(groups=group_alias_pural)), show_empty=request.params, no_bottom_border=true if page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
  {% endblock %}
  {% block groups_list %}
    {% if page.items or request.params %}
      {% if page.items %}
        {% snippet "group/snippets/group_list.html", groups=page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no {groups} for this site'.format(groups=group_alias_pural)) }}.
        {% if h.check_access('group_create') %}
          {% link_for _('How about creating one?'), named_route=group_new_route %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ super() }}
  {% endblock %}
{% endblock %}

{% block secondary %}
{% endblock %}
