{% extends "header.html" %}

{% set org_alias = h.opendata_theme_organization_alias() %}
{% set group_alias = h.opendata_theme_group_alias() %}
{% set org_alias_pural = org_alias + 's' %}
{% set group_alias_pural = group_alias + 's' %}

{% if h.version(h.ckan_version()) >= h.version('2.9') %}
  {% set search_route = 'dataset.search' %}
  {% set organizations_index_route = 'organization.index' %}
  {% set group_index_route = 'group.index' %}
{% else %}
  {% set search_route = 'search' %}
  {% set organizations_index_route = 'organization_index' %}
  {% set group_index_route = 'group_index' %}
{% endif %}

{% block header_wrapper %} {% block header_account %}
<div class="account-masthead">
  <div class="container">
    {% block header_account_container_content %}
      {{ super() }}
    {% endblock %}
  </div>
</div>
{% endblock %}
<header class="navbar navbar-static-top masthead">
  {% block header_debug %}
    {{ super() }}
  {% endblock %}
  <div class="container">
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-label="expand or collapse" aria-expanded="false">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <hgroup class="{{ g.header_class }} navbar-left">
      {% block header_logo %}
        {{ super() }}
      {% endblock %}
    </hgroup>
    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav nav-pills">
            {% block header_site_navigation_tabs %}
              {{ h.opendata_theme_build_nav_main(
                (search_route, _('Datasets')),
                (organizations_index_route, _(org_alias_pural)),
                (group_index_route, _(group_alias_pural))
              ) }}
            {% endblock %}
            {# "About" tab is separated from h.build_nav_main() so that "About" tab is always right aligned #}
            <li>
              <a href="{{ h.url_for('/about') }}" title="{{ _('About') }}">{{ _('About') }}</a>
            </li>
        </ul>
      </nav>
      {% endblock %}
      {% block header_site_search %}
        {{ super() }}
      {% endblock %}
    </div>
  </div>
</header>
{% endblock %}
