
[role=main], .main {
  background: #443312;
}

.hero {
    background: url('/img/hero-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;   
  }