{% block showcase_item %}
<li class="dataset-item">
  <div class="dataset-content">
    {% block item_inner %}
      {% block title %}
      <h3 class="dataset-heading">
        {{ h.link_to(h.truncate(showcase.title), "showcase/"+showcase.id) }}
      </h3>
      {% endblock %}
      {% block notes %}
      <figure class="showcase-image">
          <img src="uploads/showcase/{{ h.opendata_theme_get_value_from_extras(showcase.extras, 'image_url')}}" />
        </figure>
      {% endblock %}
      {% endblock %}
    </div>
  </li>


  {% endblock %}