{% set stats = h.get_site_statistics() %}

<div class="main-browse">
    <div class="container">
        <div class="row">
            <div class="col-md-12 span12 col1">
                <div class="module-content">
                    <h2 class="heading">                 
                            {{ h.opendata_theme_get_custom_name('stats-custom-name', '') }}
                    </h2>

                        <div class="browse-group">
                            <!-- <div class="">
                                <img alt="img1" src="/img/browse.png" />
                            </div> -->
                            <div class="browse-group-count">
                               
                                {{ h.SI_number_span(stats.dataset_count) }}
                            </div>
                            <div class="browse-group-title">
                                Datasets Available
                            </div>
                            
                        </div>


                        <div class="browse-group">
                            <!-- <div class="">
                                <img alt="img2" src="/img/bar-graph.png" />
                            </div> -->
                            <div class="browse-group-count">
                               <!-- total number of resources -->
                                {{ h.SI_number_span(stats.dataset_count) }}
                            </div>
                            <div class="browse-group-title">
                                Total Datasets Views
                            </div>
                            
                        </div>

                        <div class="browse-group">
                            <!-- <div class="">
                                <img alt="img3" src="/img/computer-bar-chart.png" />
                            </div> -->
                            <div class="browse-group-count">
                               
                                {{ h.SI_number_span(stats.dataset_count) }}
                            </div>
                            <div class="browse-group-title">
                                Datasets Contributors
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>