<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="col-md-4 span4">
        {% block footer_nav %}
        <ul class="list-unstyled" style="margin-top: 10px;">
          {% block footer_links %}
            <li class="nav-item"> <a class="nav-link" href="https://www.ok.gov/about/contactus.html" target="_blank" rel="noopener noreferrer">Contact Us</a> </li>
            <li class="nav-item"><a class="nav-link" href="https://www.ok.gov/about/faqs.html" target="_blank" rel="noopener noreferrer">FAQs</a> </li>
            <li class="nav-item"><a class="nav-link" href="https://public.govdelivery.com/accounts/OKOMES/subscribers/qualify" target="_blank" rel="noopener noreferrer">Notifications</a> </li>
            <li class="nav-item"><a class="nav-link" href="https://www.ok.gov/portal/newsroom.php" target="_blank" rel="noopener noreferrer">Newsroom</a> </li>
            <li class="nav-item"><a class="nav-link" href="https://data.ok.gov/" target="_blank" rel="noopener noreferrer">Data</a> </li>
          {% endblock %}
        </ul>
        <img class="footer-logo" src="/img/OklaX-Logo-White.png" alt="Oklahoma Logo">
        {% endblock %}
      </div>
      <div class="col-md-4 span4" style="margin-left:auto; margin-right:auto;">
        <ul class="list-unstyled">
          <h6 class="imagine">STATE AGENCIES</h6>
          <li class="nav-item">
            <form action="https://www.ok.gov/portal/agency.php" method="get" _lpchecked="1">
              <div id="keyword_search">
                <div id="keyword_input_div" class="agency_footer">
                  <label for="KEYWORD" class="search-footer">Search Agencies By Keyword</label>
                  <div id="keyword_input">
                    <input id="KEYWORD" name="keyword" value="" class="sm_input" placeholder="State Agencies" alt="State Agencies" aria-label="State Agencies">
                  </div>
                  <input type="submit" id="KEYWORD_SUBMIT" class="sm_button btn btn-primary" value="Search Agencies">
                </div>
              </div>
            </form>
          </li>
        </ul>
      </div>
      <div class="col-md-4 span4">
        {% if g.governor_name or g.lieutenant_governor_name %}
        <h6 class="imagine">ELECTED OFFICIALS</h6>
        {% endif %}
        {% if g.governor_name and g.governor_link %}
          <ul class="nav-item list-unstyled elected-officials">
            <a class="nav-link" href="{{ g.governor_link }}" target="_blank" rel="noopener noreferrer">Governor {{ g.governor_name }}
              <li class="official"><i>Official site</i> </li>
            </a>
          </ul>
        {% endif %}
        {% if g.lieutenant_governor_name and g.lieutenant_governor_link %}
          <ul class="nav-item list-unstyled elected-officials">
            <a class="nav-link" href="{{ g.lieutenant_governor_link }}" target="_blank" rel="noopener noreferrer">Lt. Governor {{ g.lieutenant_governor_name }}
              <li class="official"><i>Official site</i> </li>
            </a>
          </ul>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 span12" style="text-align:center; margin-left:auto; margin-right:auto;">
        <div class="attribution og-attribution">
          {% block footer_attribution %}
            <strong>{{ _('Powered by') }}</strong>
            <div style="white-space:nowrap; padding-bottom:16px;">
              <a class="pull-left" href="https://opengov.com/?utm_campaign=Footer-Product-OpenData&utm_source=OpenGov&utm_medium=product&utm_term=PO-OGOV-1274&utm_content=logo" target="_blank">
                <img src="/img/OpenGov_Logo.png" alt="OpenGov" height="25">
              </a>
              <a class="hide-text ckan-footer-logo" href="https://ckan.org" target="_blank" style="margin-left:144px;">CKAN</a>
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
  <div class="footer-copyright text-center">
  	<a href="https://www.ok.gov/about/index.html" target="_blank" rel="noopener noreferrer">ABOUT OK.GOV</a>|
  	<a href="https://www.ok.gov/about/policy_disclaimers.html" target="_blank" rel="noopener noreferrer">OK.GOV POLICIES</a>|
  	<a href="https://www.ok.gov/about/accessibility_policy.html" target="_blank" rel="noopener noreferrer">ACCESSIBILITY</a>|
  	<a href="https://www.ok.gov/about/contactus.html" target="_blank" rel="noopener noreferrer">FEEDBACK</a>
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
