{% ckan_extends %}

{% set org_alias = h.opendata_theme_organization_alias() %}
{% set org_alias_pural = org_alias + 's' %}

{% if h.version(h.ckan_version()) >= h.version('2.9') %}
  {% set organization_index_route = 'organization.index' %}
  {% set organization_read_route = 'organization.read' %}
  {% set dataset_search_route = 'dataset.search' %}
  {% set dataset_read_route = 'dataset.read' %}
{% else %}
  {% set organization_index_route = 'organizations_index' %}
  {% set organization_read_route = 'organization_read' %}
  {% set dataset_search_route = 'search' %}
  {% set dataset_read_route = 'dataset_read' %}
{% endif %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = h.dataset_display_name(pkg) %}
    {% if pkg.organization %}
      {% set organization = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
      <li>{% link_for _('{Organizations}'.format(Organizations=org_alias_pural)), named_route=organization_index_route %}</li>
      <li>{% link_for organization|truncate(30), named_route=organization_read_route, id=pkg.organization.name %}</li>
    {% else %}
      <li>{% link_for _('Datasets'), named_route=dataset_search_route %}</li>
    {% endif %}
    <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(60), named_route=dataset_read_route, id=pkg.id if is_activity_archive else pkg.name %}</li>
  {% else %}
    <li>{% link_for _('Datasets'), named_route=dataset_search_route %}</li>
    <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
  {% endif %}
{% endblock %}
