{% ckan_extends %}

{% set group_alias = h.opendata_theme_group_alias() %}
{% set group_alias_pural = group_alias + 's' %}
{% set showcase_dataset_showcase_list_route = 'showcase_blueprint.dataset_showcase_list' %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(pkg.notes, extract_length=200)|forceescape %}
  <meta property="og:url" content="{{ h.full_current_url() }}">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}" />
  <meta name="twitter:description" content="{{ description|forceescape|trim }}" />
{% endblock -%}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name, icon='sitemap') }}
  {{ h.build_nav_icon('dataset_groups', _('{Groups}'.format(Groups=group_alias_pural)), id=pkg.name, icon='users') }}
  {% if 'showcase' in g.plugins %}
    {{ h.build_nav_icon(showcase_dataset_showcase_list_route, _('Showcases'), id=pkg.name, icon='trophy') }}
  {% endif %}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.id if is_activity_archive else pkg.name, icon='clock-o') }}
{% endblock %}

{% block secondary_content %}
  {{ super() }}

  {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
  {% if 'spatial_metadata' in g.plugins and dataset_extent %}
    {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=dataset_extent %}
  {% endif %}

{% endblock %}
