.compressed.masthead .navigation {
  padding: 5px 0;
}
.compressed.masthead .account-masthead {
  margin: 0px 25px 0px 0px!important;
  padding: 5px 0px;
}
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  max-width: unset !important;
  width: 100% !important;
}

header .header-image.navbar-left {
  display: flex;
  align-items: center;
}
header.navbar.navbar-static-top.masthead {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 65px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

ul.menu {
  margin-left: 0;
}
.logo {
    display: inline-block;
    position: relative;
    top: 0;
    max-height: 65px;
    background: #243B81;
  }

.masthead {
  background: #243B81 none;
}
.masthead input[type="text"] {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 0;
  border-radius: 0;
  color: black;
}
.masthead .btn-navbar,
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus,
.masthead .btn-navbar:active,
.masthead .btn-navbar.active,
.masthead .btn-navbar.disabled,
.masthead .btn-navbar[disabled] {
  background-color: transparent;
  border: 1px solid #243B81;
}
.masthead .nav > li > a:focus,
.masthead .nav > .active > a:focus {
  color: #212121;
}
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover {
  color: #243B81;
}
.masthead .nav > li > a,
.masthead a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.masthead .navbar .nav-pills li a:hover,
.masthead .navbar .nav-pills li.active a,
.masthead a:hover {
  background-color: transparent;
  color: #F9A01B;
}
.masthead .navbar .nav-pills li a.s:hover,
.masthead .navbar .nav-pills li.active a.s,
.masthead a.s:hover {
  background-color: #F9A01B;
}
.masthead .navigation {
  margin-right: 0;
}
.masthead .section.site-search.simple-input {
  float: right;
  margin: 20px 0;
  position: relative;
}
.masthead .site-search {
  margin: 2px 2px 22px 0;
}
.masthead .site-search input {
  background-color: transparent;
  box-shadow: none;
  padding: 4px 10px 4px 25px;
  width: 144px;
}

.nav-aside li.active a {
  background-color: #091f2f;
}
.module.module-narrow.resources .list-unstyled.nav.nav-simple {
  border: 1px solid #ddd;
}

.module-narrow .module-heading,
.module-narrow .module-content,
.module-narrow .module-footer {
  padding-left: 20px;
  padding-right: 20px;
}
.nav .label,
.badge {

  text-shadow: none;
}
.nav-item.active > a,
.nav-aside li.active a {

  position: relative;
}
.nav-item.active > a:before,
.nav-aside li.active a:before {
  background-image: none;
}
.nav-pills .dropdown .caret {
  margin-top: 0;
}
.nav-pills > li > a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  margin-right: 0;
}
.navbar {
  border: none !important;
}
.navbar .nav > li > a {
  padding: 10px 15px;
}
header .navbar .nav > li > a {
  padding: 15px 8px;
}
.navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.navbar .nav > li > .dropdown-menu:after {
  display: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

header.navbar {
  background: #243B81!important;
}
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 100%;

}
.thumb-wrapper.float-left {
  /* background-image: url(/img/dataset_background.svg); */
  background-size: cover;
  float: left;
  margin-top: 0;
  margin-right: 10px;
  height: 150px;
  width: 150px;
}
.unpublishedfeedback.well {
  background-color: transparent;
}
.unpublishfeedback .control-label {
  font-weight: normal;
}
fieldset.checkboxes label input {
  min-height: auto;
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
    transform: scale(1);
  }
}
.outer {
  margin-top: 16px;
  overflow: hidden;
  position: relative;
  height: 420px;
  width: 100%;
}
.inner {
  position: absolute;
  height: 100px;
  width: 100%;
}

.account-masthead .account ul li {
  border-left: none;
}
.account-masthead .account ul li a:hover{
  background-color: #F9A01B!important;

}
.masthead .navigation .nav-pills li a,
.masthead .navigation .nav-pills li.active a, .navbar-toggle{
  color: #F9A01B!important;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a, .navbar-toggle
{
  background-color: #F9A01B!important;
  color: #fff!important;
}

/*trigger*/
#hb__trigger {
  display: none;
}
.main-navigation {
  background: #243B81;
  overflow-y: auto;
  position: fixed;
  transition: transform 0.3s;
  -ms-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
  height: 100%;
  height: 100vh;
  width: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
}
.hb__trigger:checked ~ .main-navigation {
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0x);
  transform: translateX(0px);
  transition: transform 0.3s;
}
#page {
  transition: transform 0.3s;
}
.hb__trigger:checked ~ #page {
  -ms-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
  transition: transform 0.3s;
}
.hb__inner,
.hb__inner::before,
.hb__inner::after {
  background-color: #fff;
  border-radius: 0;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  height: 4px;
  width: 27px;
  left: 0;
  bottom: 0;
}
.hb__inner::before {
  top: -8px;
  -ms-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    -ms-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    -moz-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    -o-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hb__inner::after {
  bottom: -8px;
  top: -16px;
  -ms-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
  -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
  -moz-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
  -o-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hb__inner::before,
.hb__inner::after {
  content: "";
  display: block;
}
.hb__box {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 27px;
}
.hb__label {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
}
.hb__trigger:checked ~ #page label .hb__inner {
  -ms-transform: translate3d(0, -8px, 0) rotate(-45deg);
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
  -moz-transform: translate3d(0, -8px, 0) rotate(-45deg);
  -o-transform: translate3d(0, -8px, 0) rotate(-45deg);
  transform: translate3d(0, -8px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hb__trigger:checked ~ #page label .hb__label {
  display: none;
}
.hb__trigger:checked ~ #page .hb__inner::before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  top: 0;
}
.hb__trigger:checked ~ #page .hb__inner::after {
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.27s linear;
  top: 0;
}
header .nav-trigger {
  background-color: #243B81;
  color: #F9A01B;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
}
label.nav-trigger:after {
  content: "";
}
.main-navigation .main-navigation-title {
  background: url(/img/sugarland-logo-dark.png) no-repeat center #F9A01B;
  margin: 0;
  padding: 112px;
  text-align: center;
}
.main-navigation a {
  background-color: #243B81;
  color: #F9A01B;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 69px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 15px;
  height: 69px;
}
.main-navigation li {
  list-style-type: none;
  border-top: 3px solid #091f2f;
}
.main-navigation a {
  text-decoration: none;
}
.main-navigation a:hover {
  background-color: #175182;
}
.main-navigation .logout a {
  background-color: #fb4d42;
}
/*side nav style*/

.side-nav-account .account {
  height: auto;
}
.side-nav-account .account ul {
  height: auto;
}
.side-nav-account .account li {
  height: auto;
  display: block;
}
.side-nav-account .account.avatar.authed ul a,
.side-nav-account .account.not-authed ul a {
  padding: 0 15px;
}
@media (min-width: 980px) {
  .side-nav-account {
    display: none;
  }
}
.side-nav-account .account.avatar.authed ul a:hover,
.side-nav-account .account.not-authed li.active a {
  background-color: #243B81;
}
header .nav-trigger {
  box-sizing: border-box;
  height: 65px;
  width: 65px;
  padding: 10px;
}
