.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  max-width: 1360px !important;
}
.homepage [role=main] {
  background: #EFF2F5;
}
.intro-block {
  margin: 30px 30px 10px;
}
.intro-block .box {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.hero-text-heading {
  font-size: 32px;
}
.hero-text-description {
  font-size: 24px;
}
/* responsively change homepage showcases grid start*/
.story-banner a.browse-group {
  width: 100%;
}
.story-banner a.browse-group img{
  max-height: 300px;
}
.story-tiles {
  grid-template-columns: repeat(3,1fr);
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.story-tiles a:hover {
  text-decoration: none;
}
a.browse-group {
  background-color: #FFFFFF;
  border: 1px solid #B5B9BD;
  border-radius: 5px;
  padding: 5px;
}
a.browse-group img {
  max-height: 175px;
  max-width: 100%;
}
.browse-group-title {
  text-transform: none;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1200px) {
  a.browse-group {
    height: auto;
  }
  a.browse-group img {
    max-height: 200px;
  }
}
@media (max-width: 979px) {
  .story-tiles {
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 639px) {
  .story-tiles {
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 0;
  }
}
/*responsively change homepage story showcases grid end*/