.main-featured .heading,
.main-browse .heading,
.main-updates .heading {
  border-bottom: 2px solid #165cab;
}
.main-browse, .main-updates {
  background: #FFFFFF;
}
.main-featured {
  background: #EFF2F5;
}
.heading-explanation {
  display: block;
  font-style: italic;
  font-size: 18px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.main-updates li.dataset-item {
  background-color: #EFF2F5;
  box-sizing: border-box;
  display: block;
  min-height: 100px;
  padding-top: 20px;
  padding-left: 20px;
}
.main-updates .dataset-item:last-of-type {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.featured-charts-wrap {
  background-color: #FFFFFF;
}
@media (max-width: 767px) {
  a.browse-group {
    width: 140px;
    height: 160px;
  }
  .browse-group-image {
    max-height: 75px;
    max-width: 125px;
    margin: 5px;
  }
}
@media (min-width: 768px) {
  a.browse-group {
    width: calc(25% - 20px);
    min-width: 195px;
    margin: 0 10px 10px 0;
  }
  .browse-group-image {
    max-height: 100px;
    max-width: 175px;
    margin: 10px;
  }
}