{% set group_alias = h.opendata_theme_group_alias() %}

{% if h.version(h.ckan_version()) >= h.version('2.9') %}
  {%- set dataset_feed = h.url_for('feeds.group', id=group_dict.name) -%}
  <link rel="alternate" type="application/atom+xml" title="{{ g.site_title }} - {{ _('Datasets in {group_alias}: {group}').format(group_alias=group_alias, group=group_dict.display_name) }}" href="{{ dataset_feed }}" />
{% else %}
  {%- set dataset_feed = h.url_for(controller='feed', action='group', id=c.group_dict.name) -%}
  {%- set history_feed = h.url_for(controller='revision', action='list', format='atom', days=1) -%}
  <link rel="alternate" type="application/atom+xml" title="{{ g.site_title }} - {{ _('Datasets in {group_alias}: {group}').format(group_alias=group_alias, group=c.group_dict.display_name) }}" href="{{ dataset_feed }}" />
  <link rel="alternate" type="application/atom+xml" title="{{ g.site_title }} - {{ _('Recent Revision History') }}" href="{{ history_feed }}" />
{% endif %}
