{% set group_alias = h.opendata_theme_group_alias() %}
{% set group_alias_pural = group_alias + 's' %}

<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are {groups}?'.format(groups=group_alias_pural)) }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        {{ group_alias_pural }} are used to manage collections of datasets.
        This could be to catalogue datasets for a particular project or team,
        or on a particular theme, or as a very simple way to help people find
        and search published datasets.
      {% endtrans %}
    </p>
  </div>
</div>
