{% ckan_extends %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/css/custom.css" />
{% endblock %}

{% block links %}
  {{ super() }}
  <script type="text/javascript">
    /*<![CDATA[*/
    (function() {
      var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
      sz.src = '//siteimproveanalytics.com/js/siteanalyze_15203350.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
    })();
    /*]]>*/
  </script>
{% endblock %}