{% ckan_extends %}

{% set org_alias = h.opendata_theme_organization_alias() %}
{% set group_alias = h.opendata_theme_group_alias() %}
{% set org_alias_pural = org_alias + 's' %}
{% set group_alias_pural = group_alias + 's' %}

{% if h.version(h.ckan_version()) >= h.version('2.9') %}
  {% set search_route = 'dataset.search' %}
  {% set organizations_index_route = 'organization.index' %}
  {% set group_index_route = 'group.index' %}
  {% set about_index_route = 'home.about' %}
{% else %}
  {% set search_route = 'search' %}
  {% set organizations_index_route = 'organization_index' %}
  {% set group_index_route = 'group_index' %}
  {% set about_index_route = 'about' %}
{% endif %}

{% block header_wrapper %} {% block header_account %}
<div class="account-masthead">
  <div class="container">
    {% block header_account_container_content %}
      {{ super() }}
    {% endblock %}
  </div>
</div>
{% endblock %}
<header class="navbar navbar-static-top masthead">
  {% block header_debug %}
    {{ super() }}
  {% endblock %}
  <div class="container">
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-label="expand or collapse" aria-expanded="false">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <label tabindex="0" for="hb__trigger" class="nav-trigger" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
      <div class="hb">
          <span class="hb__box">
              <span class="hb__inner"></span>
          </span>
          <span class="hb__label">Menu</span>
      </div>
  </label>
    <div class="{{ g.header_class }} navbar-left">
      {% block header_logo %}
        {{ super() }}
      {% endblock %}
    </div>
    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav nav-pills">
            {% block header_site_navigation_tabs %}
              {{ h.opendata_theme_build_nav_main(
                (search_route, _('Datasets')),
                (organizations_index_route, _(org_alias_pural)),
                (group_index_route, _(group_alias_pural)),
                (about_index_route, _('About'))
              ) }}
            {% endblock %}
        </ul>
      </nav>
      {% endblock %}
    </div>
  </div>
</header>
{% endblock %}
